.footer {
  margin-top: -20px;
  padding: 8px 0;
}

.footerContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.footerButton {
  background: transparent;
  color: var(--text-secondary);
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
  font-size: 0.9rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.footerButton:hover {
  color: var(--primary);
}
