.fullSize {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--background-dark);
}

.containerResponsive {
    position: relative;
    background-color: var(--background-dark);
}

.headGame {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
    margin-top: 25px;
}

.timer {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.counter {
    background-color: var(--background-dark);
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0;
    color: var(--primary);
    font-weight: bold;
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.counter:hover {
    background-color: var(--background-dark);
    border-color: var(--primary);
    color: var(--primary);
}

.timer .progress {
    width: 100%;
    margin: 5px;
    margin-left: 1px;
    background: var(--background-dark);
    padding: 5px 15px;
    border-radius: 10px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.timer .count {
    margin: 1px;
    background: var(--background-dark);
    padding: 5px 15px;
    border-radius: 10px;
    color: var(--primary);
    font-weight: bold;
    border: 1px solid var(--primary);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.timer .count:hover,
.timer .progress:hover {
    background-color: var(--background-dark);
    border-color: var(--primary);
    color: var(--primary);
}

.timer:first-child {
    flex: 9;
}

.timer:nth-child() {
    flex: 1;
}

.tableContainer {
    display: flex;
    margin-top: 10px;
    padding: 20px;
}

.playerContainer {
    max-width: fit-content;
    background-color: var(--ui-active);
    color: var(--text-dark);
    border-radius: 10px;
    margin: 5px 5px 0;
    padding: 10px;
    box-sizing: border-box;
    font-weight: bold;
    border: 1px solid var(--ui-border);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 30px !important;
}

.playerContainer:hover {
    background-color: var(--ui-hover);
    border-color: var(--ui-border);
}

.playerContainerLife {
    background-color: var(--ui-active);
    color: var(--text-dark);
    word-break: break-all;
}

.playerContainerLife>p {
    margin: 0;
}

.playerOutContainer {
    background-color: var(--ui-active);
    color: var(--text-dark);
}

.displayPlayer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.displayPlayer>img {
    max-width: 64px;
    margin: 0 auto;
}

.displayCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    flex: 5;
    max-height: 450px;
    height: 450px;
    background: var(--background-dark);
    border-radius: 5px;
    padding: 30px 30px 45px;
    margin-left: 5px;
    position: relative;
}

.resultStep {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    color: var(--text-primary);
    margin: 30px 0;
    padding: 20px;
}

.questionGame {
    color: var(--text-primary);
    text-align: center;
}

.betZone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-left: 10px;
    background-color: var(--ui-active);
    color: var(--text-dark);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    border: 1px solid var(--ui-border);
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.betZone:hover {
    background-color: var(--ui-hover);
    border-color: var(--ui-border);
}

.loadingScreen {
    background-color: rgba(47, 47, 47, 0.85);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

@media only screen and (max-width: 730px) {
    .playerZone {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-bottom: 25px;
        flex-direction: column;
    }

    .questionGame {
        display: none;
    }

    .displayCard {
        flex: auto;
        margin-bottom: 20px;
        height: 450px;
    }

    .aiContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        max-width: fit-content;
        width: 100%;
        max-width: 100%;
        margin: 0;
    }

    .aiContainer> :first-child {
        margin-right: 10px;
        margin-bottom: 0;
    }

    .playerContainer {
        width: 100%;
        margin: 5px auto;
    }

    .playerContainerLife {
        padding: 10px;
        width: 100%;
        margin: auto;
    }
}

@media screen and (max-width: 575px) {
    .headGame {
        flex-direction: column;
    }

    .headGame>div {
        margin-top: 15px;
    }

    .headGame>p {
        padding: 10px;
        width: 100%;
        max-width: 135px;
    }

    .tableContainer {
        margin-top: 0px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    .aiContainer p {
        margin: 0;
    }

    .displayCard {
        padding: 30px 0;
        margin-left: 0;
        margin-bottom: 0;
        background: initial;
    }

    .resultArea {
        flex-direction: column !important;
    }

    .victoryTable {
        padding: 0;
    }

    .containerResponsive {
        flex-direction: column-reverse !important;
    }

    .headResult {
        flex-direction: column !important;
    }

    .displayPlayer {
        flex-direction: column-reverse;
    }

    .playerZone {
        flex-direction: column-reverse;
    }

    .playerContainer>p {
        display: none;
    }
}