.containerInitGame {
    color: white;
}

.containerPlayer {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
}

.player {
    padding: 15px;
    background: #28DCA0;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px #777;
}

.playerCount,
.launchBtn {
    font-weight: bold;
    font-size: 17px;
}

.launchBtn {
    background: #28A0DC;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-shadow: 1px 1px 1px #777;
}